.deps
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
Makefile.in
/Makefile
/autoscan.log
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/autom4te.cache
/aclocal.m4
/.libs
*.a
*.o
*.lo
*.la
*.so
*.so.*
*.tar.gz
*.tar.bz2
*.tar.lzma
*.1
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/doc/*.1
/doc/*.html
/doc/html
/doc/Makefile
/doc/man/*.html
/doc/manual/*.html
/py-compile
/python/MANIFEST
/python/dist/
/python/setup.py
/python/build/
/snsdump
/snsplot
/snslog
/snslogd
/sns-trylock
/snsref
/core
/snsrec
/snsreced
/debian/tmp
/debian/libsns0
/debian/libsns-dev
/debian/sns-utils
/debian/docs
/debian/files
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/snsmplex
/compile
.dirstamp
/ar-lib
/doc/man
/doc/html
/sns-ksim
/doc/manual/
/doc/doxygen_sqlite3.db
/doc/logtest
/sns-joyd
/sns-teleopd
/doc/command.md
/doc/daemon.md
/doc/driver.md
/doc/tex/auto/
/doc/tex/*.aux
/doc/tex/*.log
/doc/tex/*.pdf
/doc/tex/ref.png
/doc/tex/ref.ps
/*-crop.*
/ref.*
/teleop.*
/multi.*
/priority.aux
/priority.log
/priority.pdf
/demo/motor-ref
/demo/motor-state
/doc/tutorial-programming.md
/demo/.libs/
/demo/multi-ref-send
/demo/multi-state-recv
